<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<!-- th:fragment 定义需要引入的代码块，该div包含的内容即为引用的公共内容 -->
<div th:fragment="myfooter">
    <div class="footer">
        <div class="commm">
            <span style="font-size:16px;">网址：&nbsp;<a href="http://www.gzgydnewenergy.com:8087/gyd/">www.gzgydnewenergy.com</a></span><br/>
            <br />
            总部地址：广州市白云区民营科技园敏捷科创中心1栋631<br/>
            茂名分部地址：茂名市官渡二路139号<br/>
            <br />
            电话/传真：020-39007780<br/>
            <br/>
            <div>&nbsp;</div>
            <span style="font-size:16px;">公司邮箱：<a href="mailto:service@gzgydnewenergy.com">service@gzgydnewenergy.com</a></span><br/>
            <br/>
            <br/>
        </div>
    </div>
</div>
</html>