<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<!-- th:fragment 定义需要引入的代码块，该div包含的内容即为引用的公共内容 -->
<head>
</head>
<div>
    <div id="foot" th:fragment="index_footer">
        <div class="foot clearfloat">
            <div class="f_logo"><img src="/gyd/static/img/f_logo.gif"></div>
            <div class="foot_r">
                <p><span>电话：<strong>020-61965915</strong>&nbsp;&nbsp;总部地址：广州市白云区民营科技园敏捷科创中心1栋631   茂名分部地址：茂名市官渡二路139号</span></p>
                <div class="f_cpr">版权所有广州高远达新能源科技有限公司@gzgydnewenergy.com
                    <div class="selCont">
                        <select onchange="MM_jumpMenu(&#39;parent&#39;,this,0)" name="my-dropdown" id="my-dropdown"
                                style="display: none;">
                            <option selected="selected" value="">友情链接</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="topcontrol" title="返回顶部" style="position: fixed; bottom: 80px; right: 30px; opacity: 0; cursor: pointer;" th:fragment="return_top">
    <img th:src="@{/static/img/top.gif}">
</div>
</html>

