<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>online_customer_service</title>
</head>
<body>
<!--在线客服 begin -->
<div class="QQbox" id="divQQbox" style="top: 147px;" th:fragment="divQQbox">
    <div class="Qlist" id="divOnline">
        <div class="close"><a onclick="CloseQQ()" href="javascript:;" shape="circle" coords="91,16,12">关闭</a></div>
        <ul>
            <li>
                <img src="/gyd/static/img/ewm.gif">
            </li>
        </ul>
    </div>
</div>
</body>
</html>