<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>人才招聘</title>
</head>
<header th:replace="~{common/head :: header}"></header>

</header>
<body>
<h1>诚聘英才</h1>
<div th:utext="${incruitMent.description}">

</div>
<!--公共footer  -->
<!--common/footer:是子页面的文件路径 ；myfooter：是子页面中被引用代码块的名称
（如th:fragment="myfooter"） -->
<div th:replace="common/footer :: myfooter"></div>
</body>
</html>